.home {
  display: flex;
  flex-direction: column;
  
  background-image:url(../../../assets/img/svg/bg_image.svg);
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 10px;
}

.home-hero{
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.334);
  /* border: 1px solid red; */
}

.hero__section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  /* flex-direction: column; */
}


.hero__script-section{
  width: 80%;
}

.hero__image-container{
  height: max(300px);

}

.hero__title{
  font-size: 60px;
  text-align: center;
  font-family: 'Dancing Script', cursive;

  text-shadow: 2px 2px 2px rgb(135, 135, 135);
}

.hero__description{
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.hero__image{
  height: 100%;
  border-radius: 50%;
  width: min(370px);
}

/* ------ */

@media screen and (min-width: 720px) {
  .hero__section{
  flex-direction: row;
  gap: 30px;
  }

  .hero__script-section{
    width: 40%;
  }

  .hero__image{
    width: 70vh;
  }
}

/* ------ */

.home__card-container{
  padding: var(--padding-mobile);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.home-card {
  width: min(100%, 220px);
  border-radius: 10px;
  border: 1px solid rgb(234, 234, 234);
  background-color: rgba(255, 251, 213, 0.53);
  box-shadow: 1px 2px 2px rgb(192, 192, 192);

  /* font-family: 'Edu NSW ACT Foundation', cursive; */
}
.home-card__header {
  height: auto;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  position: relative;

}

.home-card__title{
  font-style: italic;
  font-size: 1.4rem;
  color: rgb(82, 82, 81);
}

.home-card__body {
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  color: rgb(69, 69, 69);
}