.header {
  padding: var(--padding-mobile);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  background-image: url(../../../assets/img/svg/hd_image.svg);
  background-size: cover;
}
.header__title {
  color: var(--secondary-color);
}
.header__menuham{
  font-size: 1.4rem;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}
.navbar{
  width: min(100%, 300px);
  position: fixed;
  background-color: rgb(67, 113, 188);
  height: 100vh;
  right: 0;
  top: 0;
  padding-top: 80px;
  box-shadow: 0 0 20px 0 #0009;
  transition: transform 600ms ease;
  transform: translateX(105%);
}
.navbar-open {
  transition: transform 600ms ease;
  transform: translateX(0);
}
.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.navbar__links {
  display: flex;
  flex-direction: column;
  height: 55px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__links:hover{
  color: rgb(232, 190, 3);
  transition: 0.2s ease;
}

.navbar__link-active {
  color: rgb(232, 190, 3);
}
.navbar__links i {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.logo-image__home{
  width: 175px;
  height: 50px;
  margin-top: 0px;
}

@media screen and (min-width: 720px) {

  .header {
    padding: 0 0 0 var(--padding-tablet);
    /* border-bottom: 2px solid rgb(221, 221, 221); */
    box-shadow: 0px 2px 2px rgb(149, 149, 149);
    height: 75px;
  }
  .header__menuham {
    display: none;
  }
  .navbar-open {
    transform: translateX(0);
    transition-duration: 0ms;
  }
  .navbar {
    transform: translateX(0);
    transition-duration: 0ms;
    position: static;
    width: auto;
    height: auto;
    padding: initial;
    box-shadow: none;
    width: min(50%, 800px);
    background-color: transparent;
  }
  .navbar__list {
    flex-direction: initial;
    justify-content: space-evenly;
    gap: 0;
  }
  .navbar__items {
    border-radius: 10px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 0;
    margin: 0px 0px;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.508);
  }

  .navbar__links{
    padding: 0 28px;
  }

  .logo-image__home{
    width: 200px;
    height: 45px;
    margin-top: 10px;
    /* height: 100px; */
  }

  .logo-image__home:hover{
    transform: scale(1.01);
    transition: 0.2s ease;
  }
  
  .logo-image__home:active{
    transform: scale(0.96);
    transition: 0.2s ease;
  }
}

