.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image:url(../../../assets/img/svg/bg_image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-card__icon {
  font-size: 70px;
  color: rgb(226, 180, 28);
}

.contact-card__message {
  color: rgb(37, 37, 137);
  font-size: 30px;
}

