.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image:url(../../../assets/img/svg/bg_image.svg);
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 20px;
}

.contact-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.contact-card__container p {
  padding: 0px 30px;
}

.contact-card__icon {
  font-size: 70px;
  color: rgb(226, 180, 28);
}

.contact-card__message {
  text-shadow: 2px 2px 2px rgb(196, 195, 195);
  font-style: italic;

  padding-top: 25px;
  color: rgb(37, 37, 137);
  font-size: 30px;
}

.input__contact{
  border-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  font-size: 16px;
  width: 50vh;
}

.location-input__button{
  background-color: rgb(255, 255, 255);
  border:rgb(199, 199, 199) 1px solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.841);

  box-shadow: 1px 1px 1px rgb(152, 152, 152);
}

.location-input__button:hover{
  background-color: rgb(255, 248, 199);
}

.location-input__button:active{
  transform: translateY(2px);
  transition: 0.2s ease;
  background-color: rgb(199, 200, 255);
}

