/* ------- ProductInfoId ------- */
.project {
  padding: var(--padding-mobile);
  padding-bottom: 60px;

  background-image: url(../../../assets/img/svg/bg_image.svg);
  background-repeat: repeat;
  background-size: contain;

  /* position: relative; */
}

.project-hero {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.334);
  /* border: 1px solid red; */
}

.hero-project__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  /* flex-direction: column; */
}

.hero-project__script-section {
  width: 80%;
}

.hero-project__title {
  font-size: 35px;
  text-align: center;
  font-style: italic;
  color: rgb(37, 37, 137);
  text-shadow: 2px 2px 2px rgb(135, 135, 135);
}


.hero-project-description__logo{
  font-weight: 600;
  color: rgb(16, 125, 171);
  font-family: 'Dancing Script', cursive;

  font-size: 45px;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 2px rgb(200, 200, 200);
}

/* ------ */

@media screen and (min-width: 720px) {
  .hero-project__section {
    flex-direction: row;
    gap: 30px;
  }

  .hero-project__script-section {
    width: 40%;
  }

}

  .pdfview-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }


@media screen and (min-width: 720px) {
  .project {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 40px; */
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-info__title {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .project {
    width: min(1300px, 100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
  }
}