/* ------- ProductInfoId ------- */
.project {
  padding: var(--padding-mobile);
  padding-bottom: 60px;

  background-image: url(../../../assets/img/svg/bg_image.svg);
  background-repeat: repeat;
  background-size: contain;

  /* position: relative; */
}

/* .project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
} */

.project-info__title {
  /* margin-bottom: 20px; */
  color: rgb(37, 37, 137);
  text-shadow: 2px 2px 2px rgb(196, 195, 195);
  font-style: italic;

  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 30px;
  grid-column: span 2;
  text-align: center;

}

/* .pdfview-scheme{

} */

/* .pdfview-page{
  padding-bottom: 10px;
} */

@media screen and (max-width: 720px) {
  .pdfview-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 720px) {
  .project {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 40px; */
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-info__title {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .project {
    width: min(1300px, 100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-desktop);
    padding-right: var(--padding-desktop);
  }
}